<!DOCTYPE html>
<html>

  <head>
      <link type="text/css" rel="stylesheet"
        href="{{ url_for('static', filename='css/style.css') }}"/>
  </head>
  <body>
    <h3>My Google Maps Demo</h3>
    <div id="map"></div>
    <script type="text/javascript">
      var marker;
      function initMap() {
          var uluru = {lat: -30, lng: 20};
          var map;
          map = new google.maps.Map(document.getElementById('map'), {
              zoom: 4,
              center: uluru
          });
          google.maps.event.addListener(map,'click', function(event) {
              placeMarker(event.latLng, map)
          });
          placeCrimes({{ crimes | safe }});
      }

      function placeMarker(location,map) {
          if (marker) {
              marker.setPosition(location)
          }
          else {
              marker = new google.maps.Marker({
                  position: location,
                  map: map
              });
          }
          document.getElementById('latitude').value=location.lat();
          document.getElementById('longitude').value=location.lng();
      }

      function placeCrimes(crimes) {
          for (i=0; i < crimes.length; i++){
              crime = new google.maps.Marker( {
                  position: new google.maps.LatLng(crimes[i].latitude, crimes[i].longitude),
                  map: map,
                  title: crimes[i].date + "\n" + crimes[i].category + "\n" + crimes[i].description
              });
          }
      }
    </script>
    <div id="newcrimeform">
        <h2>Submit New Crime</h2>
        <form action="/submitcrime" method="POST">

            <label for="category">Category</label>
            <select name="category" id="category">
                <option value="mugging">Mugging</option>
                <option value="breakin">Break-in</option>
            </select>

            <label for="date">Date</label>
            <input name="date" id="date" type="date">

            <label for="latitude">Latitude</label>
            <input name="latitude" id="latitude" type="text"></input>

            <label for="longitude">Longitude</label>
            <input name="longitude" id="longitude" type="text"></input>

            <label for="description">Description</label>
            <textarea name="description" id="description"
                      placeholder="A brief but detailed description of the crime">
            </textarea>

            <input type="submit" value="Submit">
        </form>
    </div>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD0jTP8r-hLViYq9FSYwcZPXzp4rqwcv_s&callback=initMap">
    </script>

  </body>
</html>
